<div class="login-form-container">
    <h2 class="register-title">
        Login to your account
        <br />
        to buy awesome clothes
    </h2>

    <!-- <form onSubmit='handleSubmit()'> -->

    <form-input
        *ngFor="let inputData of loginFormInputData"
        [label]="inputData.label"
        [required]="inputData.required"
        [type]="inputData.type"
        [name]="inputData.name"
        [value]="defaultLoginFormFields[inputData.name]"
    ></form-input>

    <!-- onChange="handleChange" -->

    <!-- <span class="error-login">{error ? <p>{error}</p> : <p></p>}</span> -->

    <app-button
        btnType="primaryBtn"
        type="submit"
    >
        Login
    </app-button>

    <app-button
        btnType="google"
        type="button"
        (click)='authService.GoogleAuth()'
    >
        <!-- <img
                src={GoogleLogo}
                alt="Google Logo"
                class="google-logo"
            />-->
        Login with Google
    </app-button>

    <div class="no-account">
        Don't have an account?
        <a routerLink="/register">
            <span class="register-link">Register</span>
        </a>
    </div>
    <!-- </form> -->
</div>
